backend/datasets/1770665537619.json
{
  "name": "Itqan ChatBot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a smart assistant for **Itqan Hub Training Company**. Your task is to answer customer questions using the database and these sources:\n\nhttps://itqanhub.com/courses  \nhttps://itqanhub.com/e-learning \n\n**Instructions:**  \n- If a specific course is mentioned, provide:  \n  - **Course description**  \n  - **Agenda**  \n  - **Duration**  \n  - **Prerequisites**  \n  - **Venue or delivery method** (online / on-site)  \n- Keep responses **concise** (max 2–3 short paragraphs). Avoid repetition.  \n- If the course is unavailable, inform politely and provide the request link: https://itqanhub.com/contact-us\n\n**CTA (short):**  \n- \"Request this course at https://itqanhub.com/contact-us and our team will get back to you promptly! 😊\"\n- Discover all courses at https://itqanhub.com/courses and https://itqanhub.com/e-learning to find the perfect training for you.\n\n**Tone:** Friendly, professional, and helpful. Use bullets for course details and emojis when appropriate."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "d6fcc42a-06a3-4894-93e4-bc0a871289ef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        400
      ],
      "id": "33cac76c-e517-4b33-8e42-1beab6c1ba0b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Q4DFq4QckLErCSGh",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        400
      ],
      "id": "8174c5d0-f566-4bf0-b971-bb9620168ac2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        848,
        96
      ],
      "id": "8e55e9f0-a5ac-4194-be90-6e78cef93db4",
      "name": "When chat message received",
      "webhookId": "c8a43308-42f9-4b81-bbb8-976c97218c2b"
    },
    {
      "parameters": {
        "formTitle": "Upload",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -528,
        768
      ],
      "id": "c66876ac-38f5-489f-bed9-350b5169bdac",
      "name": "On form submission2",
      "webhookId": "ca70769c-b3f6-4925-bcde-7192353cef8a"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        448
      ],
      "id": "4ced08b3-c45a-4f0d-a8ff-6129dd8f6090",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "Q4DFq4QckLErCSGh",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "itqan-database",
          "mode": "list",
          "cachedResultName": "itqan-database"
        },
        "options": {
          "pineconeNamespace": "Recommendation"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        240,
        432
      ],
      "id": "a352eebb-be1a-4d20-bdbd-02ae7d72760a",
      "name": "Pinecone Vector Store6",
      "credentials": {
        "pineconeApi": {
          "id": "JyPZC89FiFpe8eH1",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        592
      ],
      "id": "da7d5443-8cea-42b6-8bc6-352604667f46",
      "name": "Embeddings OpenAI6",
      "credentials": {
        "openAiApi": {
          "id": "Q4DFq4QckLErCSGh",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "courses_vector",
        "description": "gives answers related to the courses"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        352,
        224
      ],
      "id": "9276033b-50e7-42b3-973f-9346e10c3f06",
      "name": "courses_vector"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "itqan-database",
          "mode": "list",
          "cachedResultName": "itqan-database"
        },
        "options": {
          "pineconeNamespace": "Recommendation"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        432,
        768
      ],
      "id": "e03ecfe4-febd-4bc7-9fb0-336ce898944b",
      "name": "Pinecone Vector Store3",
      "credentials": {
        "pineconeApi": {
          "id": "JyPZC89FiFpe8eH1",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        1008
      ],
      "id": "17e6f676-69be-4f47-a103-0a189e0114b5",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "Q4DFq4QckLErCSGh",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        576,
        928
      ],
      "id": "5ef129b4-32e1-4069-9622-bc544be93440",
      "name": "Default Data Loader3"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        592,
        1072
      ],
      "id": "6ff2e03b-9453-43f6-9ab1-d8d1dc1199af",
      "name": "Recursive Character Text Splitter3"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Function to convert markdown to plain text\nfunction convertMarkdownToPlainText(markdown) {\n  // Ensure we're working with a string\n  let plainText = String(markdown);\n  \n  // Remove links: [text](URL)\n  plainText = plainText.replace(/\\[([^\\]]+)\\]\\([^\\)]+\\)/g, '$1');\n  \n  // Remove images: ![alt text](URL)\n  plainText = plainText.replace(/!\\[([^\\]]*)\\]\\([^\\)]+\\)/g, '$1');\n  \n  // Remove headers: # Header\n  plainText = plainText.replace(/(#+)\\s*(.*)/g, '$2');\n  \n  // Remove bold and italic formatting\n  plainText = plainText.replace(/\\*\\*|\\*|__|_/g, '');\n  \n  // Remove HTML special characters\n  plainText = plainText.replace(/([<>])/g, '');\n  \n  // Remove extra line breaks\n  plainText = plainText.replace(/\\n\\s*\\n/g, '\\n');\n  \n  // Remove bullet points or numbered list formatting\n  plainText = plainText.replace(/^\\s*[-*+]\\s+/gm, '');\n  \n  return plainText.trim();\n}\n\n// Process all items and combine them with page numbers and clear formatting\nconst combinedContent = items.map((item, index) => {\n  let content;\n  if (typeof item === 'object' && item !== null) {\n    content = item.data || item.content || item.text || JSON.stringify(item);\n  } else {\n    content = String(item);\n  }\n  \n  const pageNumber = index + 1;\n  const processedContent = convertMarkdownToPlainText(content);\n  \n  return `Page ${pageNumber}\\n──────────────────\\n\\n${processedContent}\\n\\n\\n`;\n}).join('\\n\\n'); // Double line breaks between pages\n\n// Return with both raw content and formatted content\nreturn [{\n  json: {\n    content: combinedContent,\n    rawContent: items.map((item, index) => ({\n      pageNumber: index + 1,\n      content: convertMarkdownToPlainText(String(item.data || item.content || item.text || item))\n    }))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        768
      ],
      "id": "bbbd2723-1cf1-434c-bf6c-b22d0858d5a5",
      "name": "Strip2"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -336,
        768
      ],
      "id": "a4ac6568-15f9-4a81-b7d9-746b97d28d2c",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "html": "={{ $json.markdown_content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        16,
        768
      ],
      "id": "6c3241a0-97a7-4d8f-b4af-d2c8a16abc7a",
      "name": "Markdown3"
    },
    {
      "parameters": {
        "jsCode": "// Input: $json.data is an array of course objects\nconst items = $json.data;\n\nreturn items.map(item => {\n  let markdown = `# ${item.CourseName}\\n`;\n  markdown += `**ID**: ${item.DetailsId || 'N/A'}\\n`; \n  markdown += `**Vendor**: ${item.Vendor}\\n`;\n  markdown += `**Duration**: ${item.CourseDuration}\\n`;\n  markdown += `**Course Type**: ${item.CourseType || 'N/A'}\\n`;\n  markdown += `**Who Should Attend**: ${item.WhoShouldAttend}\\n\\n`;\n  markdown += `## Description\\n${item.Description}\\n\\n`;\n  markdown += `## Agenda\\n${item.Agenda}\\n\\n`;\n  markdown += `## Prerequisites\\n${item.Prerequisites}\\n\\n`;\n\n  // Handle Place - could be string or array\n  if (item.Place) {\n    markdown += `## Places\\n`;\n\n    if (Array.isArray(item.Place)) {\n      item.Place.forEach(place => {\n        markdown += `- ${place}\\n`;\n      });\n    } else {\n      markdown += `- ${item.Place}\\n`;\n    }\n\n    markdown += `\\n`;\n  }\n\n  if (item.Schedules) {\n    markdown += `## Schedules\\n`;\n\n    if (typeof item.Schedules === 'string') {\n      markdown += `${item.Schedules}\\n\\n`;\n    } else if (Array.isArray(item.Schedules)) {\n      item.Schedules.forEach((sched, idx) => {\n        markdown += `- **Schedule ${idx + 1}**\\n`;\n        if (sched.Place) markdown += `  - 📍 ${sched.Place}\\n`;\n        if (sched.StartDate) {\n          markdown += `  - 📅 ${sched.StartDate}`;\n          if (sched.EndDate && sched.EndDate !== sched.StartDate) {\n            markdown += ` to ${sched.EndDate}`;\n          }\n          markdown += `\\n`;\n        }\n        if (sched.StartTime) {\n          markdown += `  - ⏰ ${sched.StartTime}`;\n          if (sched.EndTime && sched.EndTime !== sched.StartTime) {\n            markdown += ` – ${sched.EndTime}`;\n          }\n          markdown += `\\n`;\n        }\n        markdown += `\\n`;\n      });\n    } else {\n      // Single object fallback (e.g., { Place: \"...\", StartDate: \"...\" })\n      const sched = item.Schedules;\n      markdown += `- 📍 ${sched.Place || 'N/A'}\\n`;\n      if (sched.StartDate) {\n        markdown += `  - 📅 ${sched.StartDate}${sched.EndDate ? ` to ${sched.EndDate}` : ''}\\n`;\n      }\n      if (sched.StartTime) {\n        markdown += `  - ⏰ ${sched.StartTime}${sched.EndTime ? ` – ${sched.EndTime}` : ''}\\n`;\n      }\n      markdown += `\\n`;\n    }\n  }\n\n  return {\n    json: {\n      markdown_content: markdown,\n      course_id: item.DetailsId,\n      course_name: item.CourseName\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        768
      ],
      "id": "7e5a9f43-812c-4ca3-a455-7a716cbd7813",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "itqanhubchatbot",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        112
      ],
      "id": "bf6083d5-41cc-4663-8463-18592baec8a0",
      "name": "Webhook",
      "webhookId": "16a09b2b-0f1a-4efd-a756-204a7a255948"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// إذا لم يكن هناك sessionId، نُنشئ واحدًا\nif (!$json.sessionId) {\n  $json.sessionId = \"session_\" + Date.now() + \"_\" + Math.random().toString(36).substr(2, 5);\n}\n\n// ✅ إرجاع الكائن بشكل صحيح\nreturn { json: $json };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        48
      ],
      "id": "727da87b-6f48-460e-9652-5264ff95d15b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a smart assistant for **Itqan Hub Training Company**. Your task is to answer customer questions using the database and these sources:\n\nhttps://itqanhub.com/courses  \nhttps://itqanhub.com/e-learning \n\n**Instructions:**  \n- If a specific course is mentioned, provide:  \n  - **Course description**  \n  - **Agenda**  \n  - **Duration**  \n  - **Prerequisites**  \n  - **Venue or delivery method** (online / on-site)  \n- Keep responses **concise** (max 2–3 short paragraphs). Avoid repetition.  \n- If the course is unavailable, inform politely and provide the request link: https://itqanhub.com/contact-us\n\n**CTA (short):**  \n- \"Request this course at https://itqanhub.com/contact-us and our team will get back to you promptly! 😊\"\n- Discover all courses at https://itqanhub.com/courses and https://itqanhub.com/e-learning to find the perfect training for you.\n\n**Tone:** Friendly, professional, and helpful. Use bullets for course details and emojis when appropriate."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1168,
        64
      ],
      "id": "1706fe81-8545-4850-8fee-79eeafc3f7d0",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        464
      ],
      "id": "9abf8bb0-e222-42a6-a37a-b86184577114",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Q4DFq4QckLErCSGh",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1232,
        464
      ],
      "id": "48174fa2-a904-4beb-aabb-18fdaeb2f108",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1712,
        512
      ],
      "id": "cfc73b26-4d98-4665-aa7c-d4270d2eb250",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "Q4DFq4QckLErCSGh",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "itqan-database",
          "mode": "list",
          "cachedResultName": "itqan-database"
        },
        "options": {
          "pineconeNamespace": "Recommendation"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1408,
        496
      ],
      "id": "4980b8c8-03f9-4125-a289-3a67c188c3b9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "JyPZC89FiFpe8eH1",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1408,
        656
      ],
      "id": "5663a400-3423-4943-97e8-1ca65bcf62f5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Q4DFq4QckLErCSGh",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "courses_vector",
        "description": "gives answers related to the courses"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1520,
        288
      ],
      "id": "b9c046cc-6dcf-4740-b483-c354b4ae5399",
      "name": "courses_vector1"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "courses_vector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store6": {
      "ai_vectorStore": [
        [
          {
            "node": "courses_vector",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI6": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store6",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "courses_vector": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter3": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader3",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader3": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Strip2": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown3": {
      "main": [
        [
          {
            "node": "Strip2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Markdown3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "courses_vector1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "courses_vector1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "courses_vector1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "37649388-3137-44bf-8207-f8c752f389f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eba9f240d562e4e14bef8c55acfb674c6b9322e75977bc6d680704a2efccf1e7"
  },
  "id": "5908ebS6UaiV9xEi",
  "tags": []
}